---
import Contact from "../components/Contact.astro";
import Experience from "../components/Experience.astro";
import GabePhrase from "../components/GabePhrase.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Skills from "../components/Skills.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portafolio - Carlos Gonzalez">
  <main class="space-y-28">
    <SectionContainer id="hero">
      <Hero />
    </SectionContainer>
    <SectionContainer>
      <GabePhrase />
    </SectionContainer>
    <SectionContainer id="skills" title="Habilidades">
      <Skills />
    </SectionContainer>
    <SectionContainer id="experience" class="py-8">
      <Experience />
    </SectionContainer>
    <SectionContainer id="projects" class="py-8">
      <Projects />
    </SectionContainer>
    <SectionContainer id="contact" class="py-8">
      <Contact />
    </SectionContainer>
  </main>
</Layout>
