---
import Contact from "../components/Contact.astro";
import Experience from "../components/Experience.astro";
import GabePhrase from "../components/GabePhrase.astro";
import Hero from "../components/Hero.astro";
import BackendDev from "../components/icons/general/BackendDev.astro";
import Code from "../components/icons/general/Code.astro";
import JoiningQueue from "../components/icons/general/JoiningQueue.astro";
import Projects from "../components/Projects.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Skills from "../components/Skills.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Portafolio - Carlos Gonzalez">
  <div class="mb-8 space-y-20">
    <SectionContainer id="hero">
      <Hero />
    </SectionContainer>
    <SectionContainer>
      <GabePhrase />
    </SectionContainer>
    <SectionContainer id="skills" icon={BackendDev} title="Habilidades">
      <Skills />
    </SectionContainer>
    <SectionContainer id="projects" title="Proyectos" icon={Code}>
      <Projects />
    </SectionContainer>
    <SectionContainer id="experience" title="Experiencia" icon={Code}>
      <Experience />
    </SectionContainer>
    <SectionContainer id="contact" title="¡Colaboremos!" icon={JoiningQueue}>
      <Contact />
    </SectionContainer>
  </div>
</Layout>
