---
const { label, icon: Icon } = Astro.props;
---
<button
  title="cv-carlos-gonzalez"
  class="btn btn-xl flex gap-2 bg-[#61AFEF] text-white items-center"
>
  {label}
  <Icon class="size-5 md:size-6 fill-white" />
</button>
