---
import FormContact from "./FormContact.astro";
import InformationContact from "./InformationContact.astro";
---

<div class="flex flex-row gap-8 w-full">
  <FormContact />
  <InformationContact />
</div>
