---
import Github from "./icons/social-media/Github.astro";
import Instagram from "./icons/social-media/Instagram.astro";
import Linkedin from "./icons/social-media/Linkedin.astro";
import Tiktok from "./icons/social-media/Tiktok.astro";
import X from "./icons/social-media/X.astro";
import Youtube from "./icons/social-media/Youtube.astro";
---

<footer
  class="footer sm:footer-horizontal items-center p-4 w-full fixed bottom-0 border-[#363C49] border-t-2"
>
  <aside class="grid-flow-col items-center">
    <p>
      <span class="font-bold"> Copyright © {new Date().getFullYear()} </span>
      Carlos Gonzalez. Todos los derechos reservados.
    </p>
  </aside>
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    <a href="https://github.com/ikabeee" target="_blank"><Github class="size-8 md:size-6 hover:scale-110 transition-transform duration-300 ease-in-out" /></a>
    <a href="https://www.tiktok.com/ikabeee" target="_blank"><Tiktok class="size-8 md:size-6 hover:scale-110 transition-transform duration-300 ease-in-out" /></a>
    <a href="https://www.linkedin.com/in/carlglzm/" target="_blank"><Linkedin class="size-8 md:size-6 hover:scale-110 transition-transform duration-300 ease-in-out" /></a>
    <a href="https://www.instagram.com/ikabeeee" target="_blank"><Instagram class="size-8 md:size-6 hover:scale-110 transition-transform duration-300 ease-in-out" /></a>
    <a href="https://www.youtube.com/@ikabeee" target="_blank"><Youtube class="size-8 md:size-6 hover:scale-110 transition-transform duration-300 ease-in-out" /></a>
    <a href="https://x.com/ikabeeee" target="_blank"><X class="size-8 md:size-6 hover:scale-110 transition-transform duration-300 ease-in-out" /></a>
  </nav>
</footer>
