---
import Github from "./icons/social-media/Github.astro";
import Instagram from "./icons/social-media/Instagram.astro";
import Linkedin from "./icons/social-media/Linkedin.astro";
import Tiktok from "./icons/social-media/Tiktok.astro";
import X from "./icons/social-media/X.astro";
import Youtube from "./icons/social-media/Youtube.astro";
import { socialMedia } from "../constants/socialMedia";
---

<footer
  class="footer sm:footer-horizontal items-center p-4 w-full bottom-0 border-[#363C49] border-t-2"
>
  <aside class="grid-flow-col items-center">
    <p>
      <span class="font-bold"> Copyright © {new Date().getFullYear()} </span>
      Carlos Gonzalez. Todos los derechos reservados.
    </p>
  </aside>
  <nav class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
    {
      socialMedia.map((item) => (
        <a
          href={item.url}
          target="_blank"
          class="hover:scale-110 transition-transform duration-300 ease-in-out"
          title={item.name}
        >
          <item.icon class="size-8 md:size-6" />
        </a>
      ))
    }
  </nav>
</footer>
