---
import Button from "./Button.astro";
import Send from "./icons/general/Send.astro";
---

<form {...Astro.props} class="flex flex-col gap-4 bg-base-200 p-8 rounded-lg shadow-md w-1/2">
  <fieldset class="fieldset">
    <legend class="fieldset-legend text-lg">Nombre/empresa</legend>
    <input
      type="text"
      name="name"
      placeholder="Juan Perez"
      class="input input-bordered w-full"
      required
    />
  </fieldset>
  <fieldset class="fieldset text-lg">
    <legend class="fieldset-legend">Correo electrónico</legend>
    <input
      type="email"
      name="email"
      placeholder="example@gmail.com"
      class="input input-bordered w-full"
      required
    />
  </fieldset>
  <fieldset class="fieldset text-lg">
    <legend class="fieldset-legend">¿Cuál es tu idea?</legend>
    <textarea
      name="message"
      placeholder="Explícame tu proyecto..."
      class="textarea textarea-bordered w-full h-32"
      required></textarea>
  </fieldset>
  <div>
    <Button type="submit" label="Enviar" size="sm" icon={Send} />
  </div>
</form>
