---
import ProjectCard from "./ProjectCard.astro";
import { projects } from "../constants/projects";
---

<div class="flex flex-col gap-4 md:gap-6">
  {
    projects.map((project) => (
      <ProjectCard
        {...project}
      />
    ))
  }
</div>
