---
import SkillGroupCard from "./SkillGroupCard.astro";
import { skillGroups } from "../constants/skillGroups";
---

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 sm:gap-5 md:gap-6">
  {skillGroups.map((group) => <SkillGroupCard {...group} />)}
</div>
