---
import SkillGroupCard from "./SkillGroupCard.astro";
import { skillGroups } from "../constants/skillGroups";
---

<div class="grid grid-cols-4 gap-6">
  {skillGroups.map((group) => <SkillGroupCard {...group} />)}
</div>
